*,
*:before,
*:after {
    box-sizing: border-box;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    margin: 50px auto;
    width: 50%;
}
h1 {
    text-align: center;
}
td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
tr:hover {
    background-color: coral;
}
input {
    padding: 10px;
    border: 0;
    margin: 20px 0;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
    width: auto;
}
.rounded-input {
    padding: 10px;
    border-radius: 10px;
}
.input {
    width: 700px;
    border: 12px salmon solid;
}